
{{!-- parte da vizualização do usuário --}}
<h1>
    Dashboard de usuário!
</h1>

{{!-- trazendo os itens através da rota dashboard --}}
<ul>
    {{!-- chamando o array --}}
    {{#each items}}
        <li>{{this}}</li>
    {{/each}} 
</ul>